# Python
__pycache__/
venv/

# PyTorch
runs/
trained_models/*.pt
dataset/
picked_image/pet/*.jpg
picked_image/pet/*.txt

# PyCharm Python IDE
.idea/

# OpenDocument Spreadsheet files used with LibreOffice and OpenOffice
*.ods

# Media files
*.xcf

# Cache files
*.~*

# Node
pet_image_picker/node_modules

# Express.js
pet_image_picker/public/images/*.jpg