body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#image_viewer {
  text-align: center;
}

#content {
  margin-right: 15%;
  margin-left: 15%;
}
