extends layout

block content
  h1= title
  p 
    | This is the pet image picker application. The purpose of this application is to make it convenient 
    | for the user to pick a pet image to use with the pet image classification system program. I decided 
    | to make a web application since it is the best way to implement the pet image picker since it is
    | fast when it comes to loading all of the pet images.
