doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id="nav")
      a(href="/") Home
      a(href="/about") About
    div(id="content")
      block content
